{% extends 'base.html' %}
{% block content %}
    <a class="btn btn-danger" href={% url 'post' %}>Back</a>
    <form method="POST">
        {% csrf_token %}
        Title:<textarea  name="title">{{ post.post_title }}</textarea>
        Body:<textarea  name="body">{{ post.post_body }}</textarea>
        <input type="submit" id="submit" value="Save">
    </form>
<style>
    form{
        display: flex;
        flex-direction: column;
    }
    textarea{
        width:20%;
        height: 80px;
        padding: 5px;
        font-size: 16px;
        box-sizing: border-box;
    }
    input[type=submit] {
        width: 20%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    input[type=submit]:hover {
         background-color: #45a049;
    }
</style>
{% endblock %}