<!DOCTYPE html>
<html>

<head>
	<title>Find Job Fast</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>

<body>
	<ul class="nav">
		<li class="nav-item">
			<a class="nav-link active" href="{%url 'post' %}">Home</a>
		</li>
		{% if user.is_authenticated %}
		<li class="nav-item">
			<a class="nav-link active" href="{%url 'change_passwd' %}">Change password</a>
		</li>
		<li class="nav-item">
			<a class="nav-link active" href="{%url 'new_post' %}">New post</a>
		</li>
		<li class="nav-item">
			<a class="nav-link active" href="{%url 'myposts' %}">My posts</a>
		</li>
		<li class="nav-item">
			<a class="nav-link active" href="{%url 'logout' %}">Logout</a>
		</li>
		{% else %}
		<li class="nav-item">
			<a class="nav-link active" href="{%url 'signup' %}">Signup</a>
		</li>
		<li class="nav-item">
			<a class="nav-link active" href="{%url 'login' %}">Login</a>
		</li>
		{% endif %}
	</ul>
	<hr>
	{% block content %}
	{% endblock %}
	{% if message == True %}
	<h1>Succesfully changed</h1>
	{% endif %}
</body>

</html>