{% extends 'base.html' %}
{% block content %}
    <h1>All jobs</h1>
{#    <a href={% url 'job-create' %}>Add new job</a>#}
    <hr>
    <ul>
    {% for job in jobs %}
        <li>
            <a href={% url 'jobdetail' job.id%}><h3>{{job.job_name}}</h3></a>
            <p>{{job.description|truncatechars:60}}</p>
            <h5>{{job.company_name}}</h5>
            <h5>{{job.email}}</h5>
            <h5>{{job.number}}</h5>
            <h5>{{job.finished_date}}</h5>
        </li>
    {% endfor %}
    </ul>
{% endblock %}
